body {
  font-family: "Poppins", sans-serif;
  background-color: #042940;
  color: #3ca6a6;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main {
  padding: 2em;
  border-radius: 10px;
  margin: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: #024959;
  width: 50vw;
}
