* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: rgb(50, 50, 50);
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  background-color: rgb(70, 70, 70);
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 16px;
}

.button {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 10px;
  padding: 5px;
}

.button-cancel {
  background-color: rgb(255, 50, 50);
  font-size: 14px;
  font-weight: bold;
}

.button-confirm {
  background-color: rgb(50, 255, 50);
  font-size: 14px;
  font-weight: bold;
  color: black;
}
